 
<div class="jumbotron">
  <div class="background">  <%= video_tag "Aloha-Mundo/MP4/Aloha-Mundo.mp4" %></div>


  <h1>Code and Learn</h1>
  <p>a curated resource for beginners</p>
  <p>
      <%= link_to 'Getting Started', getting_started_getting_started_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
    <div class="grid-container">
        <div class="grid-content">
          <div class="grid-item">
            <h2><%=link_to 'Html / CSS', languages_html_css_path%></h2>
          </div>
          <div class="grid-item">
            <h2><%=link_to 'JavaScript', languages_javascript_path%></h2>
          </div>
          <div class="grid-item">
            <h2><%=link_to 'Ruby', languages_ruby_path%></h2>
          </div>
          <div class="grid-item">
            <h2><%=link_to 'Python', languages_python_path%></h2>
          </div>
          <div class="grid-item">
            <h2><%=link_to 'C / C++', languages_cpp_path%></h2>
          </div>
          <div class="grid-item">
            <h2><%=link_to 'Java', languages_python_path%></h2>
          </div>
          
        </div>
    </div>
