    
    <div class="getting-started-content ">
        <h1 style="font-size: 8.625rem;">Explore</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum aperiam doloribus, est quisquam enim sapiente, omnis ipsa porro facilis rem placeat itaque eos, corporis dolor deleniti dolorum libero error explicabo.</p>
    </div>
    
    <div class="grid-wrapper">
    <div id="masonry-container" class=" getting-started-content transitions-enabled centered  fitWidth clearfix masonry">
    
           <!--<div class="masonary-item">-->
           <!--          <h2>Kaggle</h2>-->
           <!--  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus sagittis ligula, in sollicitudin lectus ultrices id.</p>-->
           <!-- <a href="https://www.kaggle.com/"><%= image_tag("kaggle.png")%></a>-->
           <!--</div>-->
              <div class="masonary-item">
                     <h2>Awwwards</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus sagittis ligula, in sollicitudin lectus ultrices id.</p>
            <a href="https://www.awwwards.com/"><%= image_tag("awwwards.png")%></a>
           </div>
                  <div class="masonary-item">
                     <h2>API List</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus sagittis ligula, in sollicitudin lectus ultrices id.</p>
            <a href="https://apilist.fun/"><%= image_tag("apilist.png")%></a>
           </div>
           
                <div class="masonary-item">
                     <h2>Data gov</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus sagittis ligula, in sollicitudin lectus ultrices id.</p>
            <a href="https://www.data.gov/"><%= image_tag("datagov.png")%></a>
           </div>
              <div class="masonary-item">
                     <h2>Species in Pieces</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus sagittis ligula, in sollicitudin lectus ultrices id.</p>
            <a href="http://www.species-in-pieces.com/#"><%= image_tag("inpieces.png")%></a>
           </div>
                  <div class="masonary-item">
                     <h2>Hour of Code</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus sagittis ligula, in sollicitudin lectus ultrices id.</p>
            <a href="https://code.org/learn"><%= image_tag("hourofcode.png")%></a>
           </div>
            <div class="masonary-item">
                     <h2>The Hello World Collection</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus sagittis ligula, in sollicitudin lectus ultrices id.</p>
            <a href="https://helloworldcollection.github.io/"><%= image_tag("helloworldlist.png")%></a>
           </div>
     
     
         
           
 
      
         

        
 
    </div>
    </div>